#register-container {
  position: relative;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}
#register-container .form-fields, .passwordFields {
  display: inline-grid;
}
#register-container .form-warn {
  color: red;
}

#register-container .radioBtn-options {
  display: grid;
}

#register-container #quitBtn {
  position: absolute;
  top: 0;
  right: 0;
}
