<div id="login-container">

  <img id="friend-img"src="http://x.webdo.cc/userfiles/66053383/image/%E6%96%B0%E6%9C%8B%E5%8F%8B-01.png" alt="">

  <div id="form-container">
    <form #loginForm="ngForm">
      <div class="form-fields">
        <mat-form-field>
            <input matInput placeholder="Email" [formControl]="email" name="emailAddr" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Password" required>
        </mat-form-field>
      </div>
      <div class="form-btns">
        <button mat-raised-button (click)="login()" color="primary">Log In</button>
        <button mat-raised-button (click)="signup()" color="primary">Sign up</button>
      </div>
    </form>
  </div>
</div>
